.wrapper {
  width: 100dvw;
  background-color: white;
  /* border: 1px solid black; */
}
.container {
  padding: 1rem;
  /* border: 1px solid black; */
}

.container_filter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 1rem;
  /* border: 1px solid black; */
}

.container_jobCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  /* border: 1px solid black; */
}

.search-bar {
  min-width: 190px;
  height: 37px;
  border-color: hsl(0, 0%, 80%);
  border-style: solid;
  border-width: 1px;
  padding: 8px;
  border-radius: 4px;
  color: hsl(0, 0%, 20%);
  font-size: 14px;
  outline: #2684ff;
}
