.wrapper {
  width: 100dvw;
  padding: 1rem;
  /* border: 1px solid black; */
  background-color: white;
}

.container_filter {
}

.container_jobCard {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
